#eventList{
	color:red;
}
#authed{
	position: absolute;
	right:0px;
	top:40px;
}
#map{
	/*float:right;*/
}
#sheetInfo{
	/*float:left;*/
}
#adminOnly{
	float:right;
}
#adminOnly::after{
	clear:both;
}
#botBar{
	clear:both;
}
.inner{
	clear:both !important;
}