{% extends "base.html" %}

{% block content %}
<h2>Create New Sheet</h2>
<p>This will generate 
    <form method="POST" action="/create_sheet">
        {{ form.csrf_token }}
        
        {{ form.name.label }} 
        {{ form.name }} 
        <br>
        {{ form.description.label }} 
        {{ form.description(size=20) }}
        <br>
        {{ form.event.label }} 
        {{ form.event(size=20) }}
        <br>
        <h3>Generate As:</h3>
        <div class="4u 12u$(small)">
            <input type="radio" id="demo-priority-low" name="demo-priority" checked>
            <label for="demo-priority-low">QR Code</label>
        </div>
        <div class="4u 12u$(small)">
            <input type="radio" id="demo-priority-low" name="demo-priority">
            <label for="demo-priority-low">RFID Tag</label>
        </div>
        <div class="4u 12u$(small)">
            <input type="radio" id="demo-priority-low" name="demo-priority">
            <label for="demo-priority-low">GeoLocation Tracking</label>
        </div>
        <input type="submit" value="Go">
    </form>
{% endblock %}

