{% extends "base.html" %}

{% block content %}

<h2>{{sheet.name}}</h2>
{% if request.cookies.get('username') == "admin" %}
<div id="adminOnly">
	<h3>Secret Admin Info</h3>
	<p>Secret URL: {{sheet.url}}</p>
	<p><img src="{{ qrcode(sheet.url) }}"></p>
</div>
{% endif %}
<div id="sheetInfo">
	<p>{{sheet.description}}</p>
	<p>{{sheet.event}}</p>
	{% if (sheet.lat) and (sheet.lon) %}
	<p>Longitude: {{sheet.lon}}, Lattitude {{sheet.lat}}</p>
	<img id="map" src="{{ req }}"></img>
	{% endif %}
	<p></p>
</div>
<div id="botBar">&nbsp;</div>

{% endblock %}
